.player {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 7px 10px;
  font-size: var(--font-small);
}

.icon:hover {
  cursor: pointer;
}

.musicTitle {
  font-family: var(--font-Firenze);
  padding-left: 5px;
}

.loading {
  font-size: var(--font-small);
}
