.background {
  max-width: var(--mobile-width);
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 30px 60px -20px rgba(0, 0, 0, 0.7);

  background-image: radial-gradient(circle at 30% 30%, #dfe6ff, transparent 50%),
    radial-gradient(circle at 70% 80%, #d4d8eb, transparent 40%),
    radial-gradient(circle at 10% 50%, #b5cfff, transparent 40%);
}
